header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

.title{
    font-size: 6.5rem;
}

.title2{
    font-size: 2rem;
}

/* -------button section------- */

.cta{
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* --------socials section------- */

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0rem;
    bottom: 3rem;
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ------scroll section---------- */

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 1rem;
}

/* ------------------responsive section------------------ */

@media screen and (max-width: 1024px){
    header{
        height : 68vh;
    }
}

@media screen and (max-width: 600px){
    header{
        height : 100vh;
    }

    .header_socials,
    .scroll_down{
        display: none;
    }
}